<section class="container center">

    <header> <h1>You have purchased {{productInfo.name}}</h1> </header>

    <div class="row center">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img ng-src="{{productInfo.img}}">
                    <span class="card-title"> {{productInfo.name}}</span>
                </div>
                <div class="card-content">
                </div>
            </div>
        </div>
    </div>
</section>